#papers{
    padding-top: 170px;
    margin-left: 10%;
    margin-right: 10%;
}

.papers-header{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins';
}

.papers-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paper{
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paper-details{
    transition: 1s;
    text-align: justify;
}

.paper-details:hover{
    transform: scale(1.05);
}

.paper-people{
    color: blue;
    font-weight: 500;
}

.paper-title{
    color: rgb(137, 16, 0);
    font-weight: 700;
}

.paper-journal{
    color: black;
    font-weight: 400;
    font-style: italic;
}

.paper-doi{
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.paper-doi:hover{
    color: blueviolet;
    text-decoration: underline;
}

.paper-numbers{
    font-style: normal;
    font-weight: 700;
}
