*{
    margin: 0 0;
    padding: 0 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: whitesmoke;
    color: black;
}

/* --------------------- TITLE AND NAVIGATION BAR -------------------------------- */


.header{
    position: fixed;
    z-index: 100;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    /* background: rgb(192, 13, 13); */
}

.main-container{
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    background-color: whitesmoke;
}

.main-first-section{
    width: 9%;
    height:100%;
    /* margin-left: 20px; */
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.main-second-section{
    width : 91%;
    height: 100%;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.main-second-section h1 a{
    color: #000;
    text-decoration: none;
}

.main-title{
    text-align: center;
}

.main-third-section{
    width: 8%;
    height:100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    cursor: pointer;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 21px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00d0ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* ----------- HERO SECTION ----------------- */

#hero{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 170px;
    padding-bottom: 150px;
    z-index: -1;
}

.hero-container{
    padding: 0px 0%;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background: #e4e2e2a5; */
    /* border-radius: 10px; */
    /* padding: 30px 30px; */
    /* box-shadow: 5px 5px 15px #40BCD8a0,-5px -5px 15px #4CB9637d Top left; Bottom right */
}


.hero-col-1{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-col1-content{
    /* padding-left: 30px; */
    padding-top: 30px;
    padding-right: 40px;
}

.hero-col1-content p{
    font-size: 21px;
    font-weight: 300;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    margin-bottom: 30px;
    transition: 0.5s;
}

.hero-col1-content p:hover{
    transform: scale(1.05);
    color: #0022ff;
}

.hero-col1-content p i{
    font-size: 18px;
    padding-right: 10px;
}

.hero-liner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-schematic{
    width: 20%;
    height: 100%;
}

.hero-liner-content{
    padding-top: 20px;
    width: 85%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.hero-col-2{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hero-col2-left{
    width: 57%;
    height: 100%;
    /* background: #ff004f; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-col2-right{
    width: 100%;
    height: 100%;
    /* background: #ff004f; */
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.hero-col2-left-element{
    height: 49%;
    width: 100%;
    border-radius: 10px;
    background: #0D9276;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
    transition: 0.5s;
}

.hero-col2-left-element:hover{
    transform: scale(1.05);
}

.hero-col2-right-element{
    /* height: 80%; */
    width: 100%;
    border-radius: 10px;
    /* background: #0D9276; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5); */
    transition: 0.5s;
}

.hero-col2-right-element:hover{
    transform: scale(1.05);
}
.gif{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit:cover;
    border-radius: 50%;
}
.img_hero{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit:cover;
}


/* --------- About -------------- */

/* #video-background {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
} */
/* 
#video-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('your-video-file.mp4') no-repeat center center fixed;
    background-size: cover;
} */

#about{
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* #about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('videos/videoplayback\ \(4\).mp4') no-repeat center center fixed;
    background-size: cover;
} */


.about-sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

.about-sub-title:hover{
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

.sub-title:hover{
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

.about-container{
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    border-radius: 13px;
    transition: 0.5s;
    padding: 30px 0px;
}

.about-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    

.about-content{
    /* position: absolute; */
    width: 70%;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    border-radius: 10px;
    transition: 0.8s;
    text-align: justify;
    /* box-shadow: 10px 10px 5px #4CB963, -10px -10px 5px #40BCD8, -15px -15px 40px #40BCD8ab, 15px 15px 40px #4CB963a2; */

}

.about-content:hover{
    background-color: #ffffff6a;
    box-shadow: 0px 0px 20px #5b5b5bd1;
    /* box-shadow: -5px -5px 40px #4CB963d1,5px 5px 40px #40BCD8cc; */
    transform: scale(1.05);
}

.about-schematic{
    width: 27%;
}


/* ------------------  RESEARCH ----------------------- */
#research{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.research-container{
    display: block;
}


.research-list{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /* margin-top: 30px; */
    padding-top: 30px;
    height: 40vh;
}

.research-category{
    background: #40BCD8;
    width: 22%;
    transition: background 1.5s, transform 1s;
}

.reserach-image{
    height: 50%;
    width: 100%;
    /* border-radius: 10px; */
}

.reserach-image img{
    /* border-radius: 10px; */
    object-fit:fill;
    /* height: 100%; */
    /* width: 100%; */
}

.research-info{
    height: 50%;
    width: 100%;
}

.research-category a{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    z-index: 20;
    display: inline-block;
}

.research-category:hover{
    background: #4CB963;
    transform: translateY(-10px);
}

.research-category-invisible{
    background: whitesmoke;
}



/* --------------- PEOPLE ------------------------ */
#people{
    margin-left: 10%;
    margin-right: 10%;
    padding: 150px 0;
}

.people-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.person{
    /* z-index: -1; */
    width: 18%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px #333333d1;

    /* object-fit: fill; */

}

.person-invisible{
    background: whitesmoke;
}

.person img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* object-fit: cover; */
    /* z-index: -2; */
}

.layer{
    /* z-index: inherit; */
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(187, 226, 236, 0.6),#69ebff98 ,  #3ed8ffb2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    transition: height 0.5s;
}

.layer h3{
    padding-top: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.layer p span{
    font-weight: 600;
    font-size: 16px;
}

.layer a{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    /* line-height: 60px; */
    /* background: #fff; */
    width: 100px;
    height: 60px;
    /* margin-right: 10px; */
    /* border-radius: 50%; */
}

.layer i{
    font-size: 20px;
}

.person:hover img{
    transform: scale(1.1);
}

.person:hover .layer{
    height: 100%
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #40BCD8;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #40BCD8;
    transition: background 0.5s;
}

.btn:hover{
    color: white;
    background: #40BCD8;
}

/* ---------------- OPPORTUNITIES ----------------  */
#opportunities{
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

.opportunity-container{
    /* background: #40BCD8; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.oppo-left{
    width: 50%;
    height: 100%;
    /* background: #0D9276; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.oppo-right{
    width: 35%;
    height: 100%;
    align-items: stretch;
    /* background: #0D9276; */
}

.oppo-heading{
    height: 28%;
    width: 100%;
    align-items: flex-start;
}

.oppo-content-container{
    height: 70%;
    width: 100%;
    padding: 20px 20px;
    background: whitesmoke;
}

.oppo-content{
    color: black;
    padding: 30px 30px;
    transition: 0.5s;
    border-radius: 20px;
}
.oppo-content:hover{
    background-color: rgba(255, 255, 255, 0.414);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 2);
    transform: scale(1.05);
}
.oppo-right img{
    padding-right: 30px;
    height: 90%;
    width: 90%;
    /* box-shadow: 10px 10px 5px #4CB963, -10px -10px 5px #40BCD8, -15px -15px 40px #40BCD8ab, 15px 15px 40px #4CB963a2; */
}


/* ----------- CONTACT ---------------------- */
#contact{
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.contact-container{
    padding: 0px 0%;
    align-items: center;
}

.contact-row{
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #e4e2e2a5;
    border-radius: 20px;
    /* padding: 20px 20px; */
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.contact-left p i{
    color: #4CB963;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2{
    display: inline-block;
    color: #4CB963;
    transition: 0.5s;
    /* background: #ff004f; */
}

.btn.btn2:hover{
    display: inline-block;
    background: #4CB963;
    color: white;
    /* background: #ff004f; */
}

.contact-right form{
    width: 100%;
    padding-right: 30px;
}

form input, form textarea{
    width: 100%;
    height: 80%;
    border: 0;
    outline: none;
    background: #bbbbbb;
    padding: 10px;
    padding-top: 10px;
    margin: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 6px;
}
form btn2{
    padding: 10px 10px;
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: whitesmoke;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #4CB963;
}

/* ------------------- RESPONSIVE ADDITIONS ---------------------  */

nav .fas{
    display: none;
}


@media only screen and (max-width: 600px) {
    .header{
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-first-section img{
        width: 120%;
        height: 120%;
    }
    .main-second-section{
        font-size: 10px;
        align-items: flex-end;
    }
    .main-third-section img{
        width: 110%;
        height: 110%;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #40BCD8;
        color: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        color: white;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    #hero{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 100px;
    }
    .row{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px 0px;
        flex-direction: column;
    }
    .hero-col-1{
        margin-bottom: 30px;
    }
    .hero-col1-content p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-col1-content p i{
        font-size: 10px;
    }
    .hero-col-2{
        display: none;
    }
    #about{
        margin-top: 10px;
        padding-top: 10px;
    }
    .about-container{
        margin-left: 5px;
        margin-right: 5px;
    }
    .about-content{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
    }
    .about-sub-title{
        font-size: 40px;
        padding-left: 20px;
    }
    #contact{
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact-row{
        padding: 5px 10px;
        flex-direction: column;
    }
    .contact-left p{
        font-size: 15px;
    }
    .contact-right{
        padding-top: 10px;
    }

}

#msg{
    font-size: 20px;
    color: #61b752;
    margin-top: -40px;
    display: block;
}
